.app-header {
    position: relative;
    padding: 9px 0;
    border-bottom: 1px solid #ebebeb;
    height: 36px;
    z-index: 30;
    background: #fff;
}

.app-header-text {
    height: 29px;
    float: left;
    font-size: 20px;
    font-weight: normal;
    line-height: 29px;
    white-space: nowrap;
}

.app-header-text a {
    color: #dd4b39;
}

.product-name {
    position: relative;
    top: -14px;
    padding-left: 4px;
}

.recaptcha-logo-header {
    height: 40px;
    width: 40px;
}

.maia-button-size {
    line-height: 1.54;
    padding: 7px 12px;
}
